<center><h1>Cape Cod Canal Boats</h1></center>

<center><img class="main-pic"src=<%=@randofriend[:image_url]%>></center>


<ul>

	
	<p>Sandwich Fire Department's new fire boat. The vessel cost approximately $ 1 million dollars and was paid for using Department of Homeland Security grant money.
	</p>
		<strong><a href="/Boats page two">Boats page two</a></strong>
	</li>
	<li>
		<strong><a href="/name">Boats page three</a><strong>

	</li>
</ul>




